body{
    background-color: rgb(231, 209, 180);
    color: rgb(0, 0, 0);
    font-family: futura-lt-book;
    text-align: center;
    padding: 50px;
}
h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

p{
    font-size: 1.5em;
    margin-bottom: 35px;
}
li{
    display: inline-block;
    align-items: center;
    text-align: center;
    margin:2.5%;
    width: 6%;
    font-family: "FuturaWeb",sans-serif;
    font-size: 100%;
    color: #fff;
    background: #209869;
    border-radius: 100%;
    padding: 2.5% 2.5%;
    
}
ul{
    margin: 5%
}
button{
    background-color: #0066b3;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px #0065b378;
}
    